@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Handjet:wght@100;200;300;500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* [data-theme=""] {
    --bg: ;
    --dark_bg: ;
    --basic_text: ;
    --comment: ;
    --string: ;
    --state: ;
    --operator: ;
    --tag: ;
    --markup: ;
    --action: ;
    --bracket: ;
    --bracket_alt: ;
    --sign: ;
  } */
[data-theme=dracula] {
  --bg: #282a36;
  --dark_bg: #21222c;
  --basic_text: #f8f8f2;
  --comment: #6272a4;
  --string: #f1fa8c;
  --state: #bd93f9;
  --operator: #ff79c6;
  --tag: #8be9fd;
  --markup: #8be9fd;
  --func: #50fa7b;
  --bracket: #ff79c6;
  --bracket_alt: #8be9fd;
  --word_sign: #f8f8f2;
  --html_obj: #ff79c6;
  --html_brack: #f8f8f2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--bg);
  color: var(--basic_text);
  font-family: "Fira Code", monospace;
  transition: ease-in-out 0.3s;
  scroll-behavior: smooth;
}

main,
header {
  position: relative;
  display: flex;
  padding: 2rem 12rem;
  margin-bottom: 14rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

i {
  color: var(--background);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

ul {
  list-style: none;
}

summary {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.blog_h {
  display: flex;
  font-size: 2.15rem;
  font-weight: 500;
  margin-top: 2rem;
  column-gap: 0.7rem;
}

.blog {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 90%;
}

.blog_part {
  align-self: flex-start;
  font-size: 1.25rem;
}

.blog_name {
  padding: 0 12rem 2rem 12rem;
  font-size: 3rem;
}
.blog_name h1 {
  border-bottom: solid 5px var(--basic_text);
  line-height: 10rem;
}

.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  max-width: 20rem;
  background-color: var(--basic_text);
  color: var(--bg);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.group {
  display: flex;
  justify-content: space-evenly;
}

.func {
  color: var(--func);
}

.string {
  color: var(--string);
}

.operator {
  color: var(--operator);
}

.comment {
  color: var(--comment);
}

.tag {
  color: var(--tag);
}

.html_obj {
  color: var(--html_obj);
}

.html_br {
  color: var(--html_brack);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  padding: 2rem 8rem;
  color: var(--basic_text);
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  column-gap: 7.5rem;
  row-gap: 1rem;
}
nav .head_logo {
  display: none;
}

.head_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}
.head_logo span {
  font-size: 4rem;
  font-family: "Handjet", sans-serif;
  font-weight: 200;
}
.head_logo img {
  max-width: 7rem;
}

.head_link {
  position: relative;
  font-size: 1.5rem;
  color: var(--basic_text);
}

.head_link:hover {
  box-shadow: 0px 1px 0px 0px var(--basic_text);
}

/*# sourceMappingURL=styles.css.map */
