@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Handjet:wght@100;200;300;500;600&display=swap");
[data-theme=light] {
  --text: #060604;
  --background: #f8f7f2;
  --primary: #56995b;
  --primary-dark: #395b38;
  --secondary: #dbebe0;
  --accent: #315511;
}

[data-theme=dark] {
  --text: #fbfbf9;
  --background: #0d0c07;
  --primary: #66a96a;
  --secondary: #142419;
  --accent: #caeeaa;
  --accent-dark: #467a18;
  --primary-dark: #395b38;
}

/* Basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--background);
  color: var(--text);
  font-family: "Fira Code", monospace;
  transition: ease-in-out 0.3s;
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  padding: 2rem 12rem;
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

ul {
  list-style: none;
}

.btn {
  display: flex;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--background);
  box-shadow: 0px 13px 0px 0px var(--primary-dark);
  font-weight: 700;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: 0px 10px 0px 0px var(--primary-dark);
}

.btn:active {
  transform: translateY(8px);
  box-shadow: 0px 5px 0px 0px var(--primary-dark);
}

.big_btn {
  padding: 20px 50px;
}

.small_btn {
  padding: 8px 25px;
}

.sec_hat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.sec_title {
  font-size: 2.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.sec_title::before {
  content: attr(title-data);
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--accent);
}

.sec_title::after {
  content: "";
  background-color: var(--accent);
  width: 80px;
  height: 5px;
  border-radius: 3px;
}

.sec_hd_text {
  font-size: 1.25rem;
  max-width: 600px;
  line-height: 2rem;
}

.container {
  display: flex;
  position: relative;
}

#theme_btn {
  width: 50px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: var(--primary);
  position: fixed;
  top: 45%;
  left: 1rem;
}
#theme_btn img {
  width: inherit;
}

.themebtn_ind {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  width: inherit;
  height: 50%;
  background-color: #fff;
  mix-blend-mode: color-dodge;
  filter: blur(0.2);
  transition: ease-in-out 0.3s;
}

/* Basics end */
/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  padding: 2rem 8rem;
}

.head_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}
.head_logo span {
  font-size: 3.5rem;
  font-family: "Handjet", sans-serif;
  font-weight: 200;
}
.head_logo img {
  max-width: 4rem;
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  column-gap: 3.5rem;
  row-gap: 1rem;
}
nav .head_logo {
  display: none;
}
nav a {
  font-size: 1.3rem;
  color: var(--text);
  transition: ease-in-out 0.2s;
}
nav a:hover {
  box-shadow: 0px 3px 0px 0px var(--text);
}

.hamburger_menu {
  margin-left: auto;
  display: none;
  cursor: pointer;
  z-index: 100;
  transition: ease-in-out 0.5s;
  width: 2.7rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 4rem;
}
.hamburger path {
  stroke: var(--text);
}

.burger_open {
  top: 0 !important;
}

.bar {
  position: relative;
  min-width: 3rem;
  height: 0.2rem;
  background-color: var(--text);
  border-radius: 0.5rem;
  transition: ease-in-out 0.5s;
}

.bar::before {
  transform: translateY(-10px);
}

.bar::after {
  transform: translateY(10px);
}

.bar::before,
.bar::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: var(--text);
  position: absolute;
  border-radius: 0.2rem;
  transition: ease-in-out 0.5s;
}

.bar_active {
  transform: rotateZ(360deg);
  background-color: transparent;
  position: fixed;
}

.bar_active::before {
  transform: rotateZ(45deg);
}

.bar_active::after {
  transform: rotateZ(-45deg);
}

/* End header */
/* Main section */
#main_sec {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main_sec img {
  min-width: 20rem;
}

.main_sec_cont {
  flex-direction: column;
  min-width: 40%;
  max-width: 50%;
  gap: 2rem;
  font-size: 1.25rem;
}
.main_sec_cont h1 {
  font-size: 3.5rem;
}

/* Main section end */
/* Skill section */
.skills_sec_cards {
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills_sec_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 15rem;
  max-width: 20rem;
  gap: 1rem;
  font-size: 1.15rem;
}
.skills_sec_card h3 {
  font-size: 1.6rem;
}

/* Skill section end */
/* Portfolio section */
.portfolio_bg_hold {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  transform: translateY(-3rem);
  background-color: var(--primary-dark);
  z-index: -3;
}

#portfolio_sec {
  align-items: center;
}

.portofolio_manage {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.portfolio_filter_btn {
  color: var(--text);
  font-size: 1.3rem;
  background-color: transparent;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  font-weight: 500;
}

.portfolio_filter_btn:focus {
  background-color: var(--text);
  color: var(--primary-dark);
}

.portfolio_cards {
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  transition: 0.4s;
}

.portfolio_image {
  width: 25%;
  height: 17vw;
  overflow: hidden;
  border-radius: 2rem;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.portfolio_image img {
  height: 100%;
}

.pf_img_overlay {
  visibility: hidden;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2rem;
}
.pf_img_overlay a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}
.pf_img_overlay a img {
  max-width: 1.5rem;
}

.portfolio_image:hover {
  width: 28%;
  height: 20vw;
}
.portfolio_image:hover .pf_img_overlay {
  visibility: visible;
}

/* Portfolio section end */
/* About me section */
.about_me_sec_main {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about_me_sec_main img {
  max-width: 33%;
}

.abme_sec_col {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  row-gap: 2rem;
}

.abme_lang_list {
  display: flex;
  flex-direction: row;
}
.abme_lang_list li {
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--accent);
  border-right: solid 5px var(--accent);
}

/* About me section end */
/* Testimonials section */
.rating {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
}

.rating_star {
  fill: var(--accent);
  max-width: 1.75rem;
}

.reviews_sec_carousel {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.scr_thin_carousel_btns {
  width: 8rem;
  margin-top: 2rem;
  display: none;
  justify-content: space-between;
}

.reviews_movebtn {
  background: none;
  background-color: none;
  border: none;
  outline: none;
}

.reviews_movebtn path {
  stroke: var(--text);
}

#movebtn_right:hover {
  transform: translateX(0.35rem);
}

#movebtn_left:hover {
  transform: translateX(-0.35rem);
}

.carousel_cont {
  overflow: hidden;
  position: relative;
  max-width: 70%;
}

.reviews_sec_cards {
  display: flex;
  transition: 0.5s ease-in-out;
}

.reviews_sec_card {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-height: 25rem;
  background-color: var(--secondary);
  padding: 3rem;
  font-weight: 500;
  font-size: 1.25rem;
  margin-right: 2rem;
}

.revscc_hold {
  height: 100%;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.revscc_person {
  display: flex;
  flex-direction: column;
}

.revscc_person::before {
  content: attr(proffesion);
  color: var(--accent);
  font-weight: 200;
  font-size: 1rem;
}

@media (max-width: 1450px) {
  .abme_lang_list {
    flex-wrap: wrap;
  }
  .revscc_hold {
    font-size: 1.15rem;
    gap: 1.5rem;
  }
  header {
    padding: 2rem 6rem;
  }
  section {
    padding: 2rem 6rem;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 15px;
  }
  nav {
    flex-wrap: wrap;
    margin-left: 1.5rem;
  }
  nav a {
    font-size: 1.05;
  }
  .head_logo span {
    font-size: 2.5rem;
  }
}
@media (max-width: 1000px) {
  .reviews_sec_card {
    flex-direction: column;
    max-height: unset;
    align-items: flex-start;
    gap: 2rem;
  }
  .reviews_sec_card img {
    max-width: 70%;
  }
  .revscc_hold {
    margin-left: 0;
  }
  .pf_img_overlay img {
    max-width: 1rem;
  }
  .pf_img_overlay a {
    font-size: 1rem;
  }
  .skills_sec_cards {
    margin-top: 5rem;
  }
}
@media (max-width: 850px) {
  section {
    padding: 2rem 4rem;
  }
  header {
    padding: 2rem 4rem;
  }
  #main_sec {
    flex-direction: column;
  }
  .main_sec_cont {
    max-width: unset;
    margin-bottom: 6rem;
  }
  .hamburger_menu {
    display: flex;
  }
  nav {
    transition: ease-in-out 0.5s;
    position: fixed;
    top: -120%;
    left: 0%;
    margin-left: 0;
    padding: 10rem;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  nav .head_logo {
    display: flex;
  }
  .about_me_sec_main {
    flex-direction: column;
  }
  .about_me_sec_main img {
    max-width: 65%;
  }
  .abme_sec_col {
    width: 100%;
    margin-bottom: 9rem;
  }
  .portfolio_image {
    width: 17rem;
    height: 14rem;
  }
  .portfolio_image:hover {
    width: 18.5rem;
    height: 15.5rem;
  }
}
@media (max-width: 700px) {
  .reviews_sec_carousel {
    flex-direction: column;
  }
  .scr_thin_carousel_btns {
    display: flex;
  }
  .scr_wide_carousel_btn {
    display: none !important;
  }
  .carousel_cont {
    max-width: 100%;
  }
}
@media (max-width: 525px) {
  html {
    font-size: 13px;
  }
  .portofolio_manage {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .portfolio_image {
    width: 100%;
    height: 15rem;
  }
  .portfolio_image:hover {
    width: 19.5rem;
    height: 16.5rem;
  }
  .abme_lang_list {
    flex-direction: column;
    padding-left: 1rem;
    border-left: solid 5px var(--accent);
  }
  .abme_lang_list li {
    width: min-content;
  }
  .reviews_sec_card {
    padding: 2rem;
    gap: 1.3rem;
  }
  .reviews_movebtn svg {
    max-height: 6rem;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 10px;
  }
  section {
    padding: 2rem;
  }
  header {
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
